
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.contenedor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.selector-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.boton-juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.boton-juego img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.boton-juego:hover {
    background-color: #0056b3;
}
