body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f4f8;
    color: #333;
}

#top-section {
    margin-bottom: 5px;
}

h1 {
    font-size: 2em;
    margin-top: 10px;
    color: #333;
}

p.version {
    font-size: 0.8em;
    color: #777;
    margin-top: 5px;
}

#controls.horizontal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reducir espacio entre los botones */
    margin: 0 auto;
    max-width: 90%; /* Asegurar que los botones no queden pegados al borde */
}

#timer {
    font-size: 1.2em;
    color: #333;
}

#current-attempt-section, #attempts-history {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#attempts-history {
    max-height: 300px;
    overflow-y: auto;
}

#attempts {
    margin-top: 10px;
}

#current-attempt {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.empty-slot {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attempt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.attempt:hover {
    transform: scale(1.05);
}

#color-selection {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

#color-options {
    display: flex;
    justify-content: center;
}

#color-options button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#color-options .color[data-color="red"] { background-color: #ff6b6b; }
#color-options .color[data-color="green"] { background-color: #28a745; }
#color-options .color[data-color="blue"] { background-color: #007bff; }
#color-options .color[data-color="purple"] { background-color: #6f42c1; }

#color-options button:hover {
    transform: scale(1.1);
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
