
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Sección delimitada y sombreada para la selección de barcos */
#barcos-seleccion {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: 400px;
}

/* Contenedor de los botones de selección de barcos en 2 columnas */
#barcos-disponibles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 0.9em;
}

/* Botones de selección de barco con icono en la izquierda y listado en la derecha */
.barco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4b400;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    gap: 10px;
}

.barco img {
    width: 30px;
    height: 30px;
}

/* Cambiar color del barco seleccionado */
.barco-seleccionado {
    background-color: #007bff;
    color: white;
}

/* Casillas representando los barcos en los botones */
.barco-square {
    width: 15px;
    height: 15px;
    background-color: #87CEFA;
    border: 1px solid #ccc;
}

/* Botón de orientación colocado en la posición del sexto barco */
#orientacion-btn {
    grid-column: span 2;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Botones de acción (quitar último barco y finalizar posicionamiento) */
#quitar-barco, #posicion-terminada {
    margin: 5px;
    padding: 10px;
    background-color: #ff6347; /* Botón de quitar último barco en rojo */
}

#posicion-terminada {
    background-color: #32CD32; /* Botón de terminar colocación en verde */
}
